/* globals.css */
/* styles/globals.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('/01.jpg');

  background-size: cover;
}

.bg-color-meu {
  background-color: #f5fdff;
}

h2.teste {
  color: #035a42;
  font-size: 2.5em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
}

.blue-divider {
  width: 100px;
  height: 4px;
  background-color: blue;
  margin: 10px auto; /* Centraliza o divisor horizontalmente e adiciona um pouco de espaço acima e abaixo */
}

/* Estilo do Carrossel */
/* Estilos padrão para telas grandes */
.carousel-button {
  position: absolute;
  top: 35%;
  z-index: 2;
  cursor: pointer;
  border: none;
  font-size: 8em;
  padding: 5px;
  color: blue;
  background: transparent;
}

.carousel-button:hover {
  color: darkblue;
  transition: color 0.3s ease;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .carousel-button {
    top: 20%; /* Ajuste para a posição vertical */
    font-size: 4.5em; /* Reduzindo o tamanho da fonte */
  }
}

.carousel-image {
  transition: opacity 0.5s ease-in-out;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.cartela {
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}

.numero {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.numero:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.numero.bg-secondary {
  cursor: not-allowed;
  background-color: #aaa !important;
}
.inativo {
  color: red;
}
