@import 'typeface-bebas-neue/index.css';
@import 'typeface-roboto/index.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/01.webp');
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
i,
a,
span,
div {
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.bordered-text {
  border: 1px solid #035a42;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}

.divided-paragraph {
  position: relative;
}

.divided-paragraph::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f5fdff;
}

.divided-paragraph:last-child::after {
  display: none;
}

h2.teste {
  color: #035a42;
  font-size: 2.5em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
}

ol li {
  font-size: 1.75em;
  list-style: none;
  margin: 10px 0;
  color: darkblue;
  font-weight: bold;
}

i {
  color: #1e82b9;
  font-size: 2em;
}

.blue-divider {
  width: 100px;
  height: 4px;
  background-color: blue;
  margin: 10px auto; /* Centraliza o divisor horizontalmente e adiciona um pouco de espaço acima e abaixo */
}

/* Estilo do Carrossel */
/* Estilos padrão para telas grandes */
.carousel-button {
  position: absolute;
  top: 35%;
  z-index: 2;
  cursor: pointer;
  border: none;
  font-size: 8em;
  padding: 5px;
  color: blue;
  background: transparent;
}

.carousel-button:hover {
  color: darkblue;
  transition: color 0.3s ease;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .carousel-button {
    top: 20%; /* Ajuste para a posição vertical */
    font-size: 4.5em; /* Reduzindo o tamanho da fonte */
  }
}

.carousel-image {
  transition: opacity 0.5s ease-in-out;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.cartela {
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}

.numero {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.numero:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.numero.bg-secondary {
  cursor: not-allowed;
  background-color: #aaa !important;
}
.inativo {
  color: red;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.1s, transform 0.3s;
}

.fade-in.left {
  transform: translateX(-100%);
}

.fade-in.right {
  transform: translateX(100%);
}

.active-left,
.active-right {
  opacity: 1;
  transform: translateX(0);
}
.final {
  transform: none !important;
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
